header nav {
  height: 80px;
}

header nav .navbar-brand {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  cursor: pointer;
}

header nav .user-name {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

header nav .icon .home-icon {
  font-size: 1.5rem;
}


header nav .icon img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}